@charset "UTF-8";

#wrap {
	width: 970px;
	margin: 0 auto;
}

h2 {
	color: green;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
	line-height: 24px;
}

td, th {
	border: #d3d3d3 solid 1px;
	padding: 5px;
}

th {
	background: yellowgree;
}

img {
	width: 220px;
	height: 300px;
}

a {
	text-decoration: none; 
	color: #333;
}

a:hover {
	text-decoration : underline;
	color: green;
}